{%extends 'default/layout/block.html.twig' %}
{%block content%}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="{{url('index')}}">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{%if products is defined %}
						{%for pro in products%}

						<tr id="{{pro.id}}">
							<td class="cart_product">
								<a href=""><img src="{{pro.images}}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{pro.name}}</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>{{pro.price}} VND</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<button class="cart_quantity_up" value="{{pro.quantity}}"> + </button>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{pro.quantity}}" autocomplete="off" size="2" disabled>
									<button class="cart_quantity_down" value="{{pro.quantity}}"> - </button>
									<input type="hidden" value="{{pro.price}}" class="price">
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{pro.total}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" >
									<i class="fa fa-times"></i>
									<input type="hidden" id="id" value="{{pro.id}}" >
								</a>
							</td>
						</tr>
						<tr>
							<td align="right">
								
							</td>
						</tr>
						{%endfor%}
						{%else%}
							<td >Hien chua co san pham nao</td>
						{%endif%}						
					</tbody>
				</table>
					{% if products != null and products is defined %}
						<div class="total" style="margin:10px 5px">
							<h4 style="float:left">
								Tổng tiền : <span class="price_total"></span>
							</h4>
							<form id="baokim_pay" action="https://www.baokim.vn/payment/product/version11" method="get" style="float:right">
                                    <input type="hidden" class="business_form" name="business" value="namdeptrai@gmail.com">
                                    <input type="hidden" class="product_name_form" name="product_name" value="18810000">

                                    <input type="hidden" class="product_price_form" name="product_price_form" value="18810000">

                                    <input type="hidden" class="product_quantity_form" name="product_quantity" value="1">

                                    <input type="hidden" class="total_amount_form" name="total_amount" value="18810000">

                                    <input type="hidden" class="url_detail_form" name="url_detail" value="">

                                    <input type="hidden" class="url_success_form" name="url_success" value="">

                                    <input type="hidden" class="url_cancel_form" name="url_cancel" value="">
                                    <input type="hidden" class="order_description_form" name="order_description" value="">
                                    <input type="hidden" name="id" value="">
                                    <input type="image" src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoanantoan-s.png" border="0" name="submit" alt="Thanh toán an toàn với Bảo Kim !" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn">
                                </form>
                                <div class="clear"></div>
						</div>
					{%endif%}
			</div>
		</div>
		
		
	</section> <!--/#cart_items-->
	<script type="text/javascript">
		 $(document).ready(function(){

		 		// Tính tổng tiền các sản phẩm
		 		var total = $('.cart_total .cart_total_price');
		 		var sum_total_price = 0 ;
		 		for(var i=0;i<total.length;i++){
		 			sum_total_price = sum_total_price + parseInt(total.eq(i).text());
		 		}

		 		$('.price_total').text(sum_total_price);
		 		$('.total_amount_form').val(sum_total_price);


		 		// + click action
		 		var timeout = null;		 		 						    				
				 		$('button.cart_quantity_up').click(function(){
				 			var counter = $(this).val();
				 			if(counter<10){
				 				counter++;
				 				var price = parseInt($(this).parent().find('input.price').val());

				 				//thay đổi tỏng giá trị sản phẩm 
		                		var sum_total_price = parseInt( $('.price_total').text() ) + price;
		                		
								    $('.price_total').text(sum_total_price);
								    price = price * counter ;
				 				
		                			$(this).parent().parent().parent().find('.cart_total .cart_total_price').text(price);
								
		                		

		                		//tổng giá sản phẩm

		    					 			
				 			}
				 			$(this).parent().find('input.cart_quantity_input').val(counter);
				 			$(this).parent().find('button.cart_quantity_down').val(counter);
				 			$(this).val(counter);
				 			//gia san pham
				 			$('.total_amount_form').val(sum_total_price);
		              
				 		});
				 		$('button.cart_quantity_down').click(function(){
				 			var counter = $(this).val();
				 			if(counter>1){
				 				counter--;
				 				var price = parseInt($(this).parent().find('input.price').val());
				 				var sum_total_price = parseInt( $('.price_total').text() ) - price;
		                		$('.price_total').text(sum_total_price);

				 				price = price * counter ;
		                		$(this).parent().parent().parent().find('.cart_total  .cart_total_price').text(price);
		                		
				 			}
				 			else
				 				counter = 1;
				 			$(this).parent().find('input.cart_quantity_input').val(counter);
				 			$(this).parent().find('button.cart_quantity_up').val(counter);
				 			$(this).val(counter);

		                	$('.total_amount_form').val(sum_total_price);
		                	
				 		});				
				 		$('.cart_delete').click(function(){
				 				var id = "id =" + $(this).find('#id').val();
				 				var price_total_products = parseInt( $(this).parent().find('.cart_total .cart_total_price').text() );
				 				var sum_total_price = parseInt($('.price_total').text()) - price_total_products;
				 				$('.price_total').text(sum_total_price);
				 					
				 				$(this).parent().addClass('hidden');
					 				$.ajax({
					 					  type: "Post",
					                      url: "removecart.php",
					                      data: id,
					                      cache: false,
					                      success:  function(html){
					                      	
					                      }
					 				});	
					 			$('.total_amount_form').val(sum_total_price);
				 					 			 
				 		});		 		
		 });
	</script>
{%endblock%}