
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>{{title}}</title>
	<meta name="description" content="overview stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="/styles/admin/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/styles/admin/css/font-awesome.min.css" />
	<script src="/styles/admin/js/jquery.min.js"></script>
	<!-- page specific plugin styles -->
	<link rel="stylesheet" href="/styles/admin/css/fullcalendar.css" />
	<link rel="stylesheet" href="/styles/admin/css/jquery-ui.custom.min.css" />
	<link rel="stylesheet" href="/styles/admin/css/chosen.css" />
	<link rel="stylesheet" href="/styles/admin/css/datepicker.css" />
	<link rel="stylesheet" href="/styles/admin/css/bootstrap-timepicker.css" />
	<link rel="stylesheet" href="/styles/admin/css/daterangepicker.css" />
	<link rel="stylesheet" href="/styles/admin/css/bootstrap-datetimepicker.css" />
	<link rel="stylesheet" href="/styles/admin/css/colorpicker.css" />
	<link rel="stylesheet" href="/styles/admin/css/select2.css" />
	<link rel="stylesheet" href="/styles/admin/css/colorbox.css" />
	<link rel="stylesheet" href="/styles/admin/css/ui.jqgrid.css" />
	<link rel="stylesheet" href="/styles/admin/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="/styles/admin/css/jquery.gritter.css" />
	<link rel="stylesheet" href="/styles/admin/css/bootstrap-editable.css" />
	<!-- text fonts -->
	<link rel="stylesheet" href="/styles/admin/css/css.css" />


	<!-- ace styles -->
	<link rel="stylesheet" href="/styles/admin/css/ace.min.css" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="/styles/admin/css/ace-part2.min.css" />
<![endif]-->
<link rel="stylesheet" href="/styles/admin/css/ace-skins.min.css" />
<link rel="stylesheet" href="/styles/admin/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="/styles/admin/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="/styles/admin/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
<script src="/styles/admin/js/html5shiv.js"></script>
<script src="/styles/admin/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/styles/admin/css/more.css" />
</head>
<body class="no-skin">
	<div id="navbar" class="navbar navbar-default">
		<script type="text/javascript">
		try{ ace.settings.check('navbar' , 'fixed') }catch(e){ }
		</script>

		<div class="navbar-container" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>

			<div class="navbar-header pull-left">
				<a href="{{url('admin')}}" class="navbar-brand">
					<small>
						<i class="fa fa-leaf"></i>
						Admin Panel
					</small>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<li class="light-blue">
						<a data-toggle="dropdown" href="index.html" class="dropdown-toggle">
							<span class="user-info">
								<small>Welcome</small>
								{{fullname}}
							</span>

							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="{{url('config')}}">
									<i class="ace-icon fa fa-cog"></i>
									Cài đặt hệ thống
								</a>
							</li>

							<li>
								<a href="{{url('changepass')}}">
									<i class="ace-icon fa fa-user"></i>
									Cập nhật thông tin
								</a>
							</li>

							<li class="divider"></li>
							<li>
								<a href="{{url('logout-admin')}}">
									<i class="ace-icon fa fa-power-off"></i>
									Đăng xuất
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.navbar-container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
		try{ ace.settings.check('main-container' , 'fixed') }catch(e){ }
		</script>

		<div id="sidebar" class="sidebar responsive">
			{% block left %}{% endblock %}
		</div>

		<div class="main-content">
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="ace-icon fa fa-cog bigger-150"></i>
				</div>
				<div class="ace-settings-box clearfix" id="ace-settings-box">
					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="no-skin" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select><div class="dropdown dropdown-colorpicker">		<a data-toggle="dropdown" class="dropdown-toggle" data-position="auto" href="#"><span class="btn-colorpicker" style="background-color:#438EB9"></span></a><ul class="dropdown-menu dropdown-caret"><li><a class="colorpick-btn selected" href="#" style="background-color:#438EB9;" data-color="#438EB9"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#222A2D;" data-color="#222A2D"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#C6487E;" data-color="#C6487E"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#D0D0D0;" data-color="#D0D0D0"></a></li></ul></div>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-navbar" type="checkbox">
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-sidebar" type="checkbox">
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" type="checkbox">
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-rtl" type="checkbox">
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-add-container" type="checkbox">
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div><!-- /.pull-left -->
					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-hover" type="checkbox">
							<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-compact" type="checkbox">
							<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input class="ace ace-checkbox-2" id="ace-settings-highlight" type="checkbox">
							<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
						</div>
					</div><!-- /.pull-left -->
				</div><!-- /.ace-settings-box -->
			</div><!-- /.ace-settings-container -->
			{% block content %}{% endblock %}
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content" style="text-align:left;font-size:12px;">
					<span class="bigger-120">
						&#169; Copyright <a href="http://phuongnamdesign.com" target="_blank">Phuong Nam Design</a>
					</span>
				</div>
			</div>
		</div>

		<a href="index.html#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	<!-- basic scripts -->
	<!--[if !IE]> -->
	<script src="/styles/admin/js/jquery.min.js"></script>

	<!-- <![endif]-->

<!--[if IE]>
<script src="/styles/admin/js/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
window.jQuery || document.write("<script src='/styles/admin/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
window.jQuery || document.write("<script src='/styles/admin/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
if('ontouchstart' in document.documentElement) document.write("<script src='/styles/admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/styles/admin/js/bootstrap.min.js"></script>
<!--[if lte IE 8]>
<script src="/styles/admin/js/excanvas.min.js"></script>
<![endif]-->

<script src="/styles/admin/js/jquery.dataTables.bootstrap.js"></script>
<script src="/styles/admin/js/markdown.min.js"></script>
<script src="/styles/admin/js/bootstrap-markdown.min.js"></script>
<script src="/styles/admin/js/ace-elements.min.js"></script>
<script src="/styles/admin/js/ace.min.js"></script>
<script src="/styles/admin/js/alert.js"></script>
<script src="/styles/admin/js/javascript.lib.js"></script>
<script type="text/javascript" src="/scripts/ckfinder/ckfinder.js"></script>
<script type="text/javascript" src="/scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/scripts/ckeditor/jqueryeditor.js"></script>
<script type="text/javascript" src="/scripts/editor.js"></script>
<script src="/styles/admin/js/javascript.lib.js"></script>


</body>
</html>
