{% extends 'admin/layout/index.html.twig' %}
{% block content %}
<div class="page-header">
	<h1>
		{{control}}
	</h1>
</div><!-- /.page-header -->
<div class="row_cate">

	<div class="col-xs-12">

		<form class="form-horizontal" name="frmAddPost" id="frmAddPost" role="form" action="" method="post" enctype="multipart/form-data">

			<div class="form-group">
				<div class="notification">
					{% if notification is defined %}
					{{notification}}
					{% endif %}</div>
				</div>
				{% for a in adv%}
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Name Vi: </label>
					<div class="col-sm-9">
						<input  name="name_vi" value="{{a.name_vi}}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Name En: </label>
					<div class="col-sm-9">
						<input type="text"  name="name_en" value="{{a.name_en}}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Name Ja: </label>
					<div class="col-sm-9">
						<input type="text"  name="name_ja" value="{{a.name_ja}}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Name Cn: </label>
					<div class="col-sm-9">
						<input type="text"  name="name_cn" value="{{a.name_cn}}" />
					</div>
				</div>
				<div class="form-group">	
					<label class="col-sm-2 control-label no-padding-right">Keywords: </label>
					<div class="col-sm-9">
						<input type="text"  name="keywords" value="{{a.keywords}}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Description Vi: </label>
					<div class="col-sm-9">
						<textarea class="form-control" name="description_vi" rows="3" id="txtShort">{{a.description_vi}}</textarea> 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Description En: </label>
					<div class="col-sm-9">
						<textarea class="form-control" name="description_en" rows="3" id="txtShort">{{a.description_en}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Description Ja: </label>
					<div class="col-sm-9">
						<textarea class="form-control" name="description_ja" rows="3" id="txtShort">{{a.description_ja}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Description Cn: </label>
					<div class="col-sm-9">
						<textarea class="form-control" name="description_cn" rows="3" id="txtShort">{{a.description_cn}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Hình ảnh: *</label>
					<div class="col-sm-9">
						<strong>Kích thước:</strong> Rộng 420px  - Cao 250px<br />
						<input id="linkimages" name="images" value="{{a.images}}" class="col-xs-10 col-sm-5" type="text">
						<span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="button" id="btnimages" onclick="BrowseServerList('linkimages');">
								<i class="ace-icon glyphicon glyphicon-upload bigger-110"></i>
								Browser
							</button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Link download: *</label>
					<div class="col-sm-9">
						<strong>File: *</strong><= 5Mb<br />
						<input id="link" name="link" value="{{a.link}}" class="col-xs-10 col-sm-5" type="text">
						<span class="input-group-btn">
							<button class="btn btn-sm btn-default" type="button" id="btn" onclick="BrowseServerList('link');">
								<i class="ace-icon glyphicon glyphicon-upload bigger-110"></i>
								Browser
							</button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" >Nội dung Tiếng Việt: </label>
					<div class="col-sm-9">
						<textarea rows="15" cols="6" class="ckeditor"  type="text" name="content_vi"  class="col-xs-10 col-sm-6" required/>{{a.content_vi}}</textarea>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" >Nội dung Tiếng Anh: </label>
					<div class="col-sm-9">
						<textarea rows="15" cols="6" class="ckeditor"  type="text" name="content_en"  class="col-xs-10 col-sm-6" required/>{{a.content_en}}</textarea>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" >Nội dung Tiếng Nhật: </label>
					<div class="col-sm-9">
						<textarea rows="15" cols="6" class="ckeditor"  type="text" name="content_ja"  class="col-xs-10 col-sm-6" />{{a.content_ja}}</textarea>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" >Nội dung Tiếng Trung: </label>
					<div class="col-sm-9">
						<textarea rows="15" cols="6" class="ckeditor"  type="text" name="content_cn"  class="col-xs-10 col-sm-6" />{{a.content_cn}}</textarea>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right">Sort</label>
					<div class="col-sm-9">
					<input type="number" name="sort" id="sort" value="{{a.sort}}" class="col-xs-10 col-sm-1" required>
					</div>
				</div>
				{%endfor%}
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<input type="hidden" name="token" value="{Security::setToken('token_form')}" />
						<input type="hidden" name="update" value="update" />
						<button class="btn btn-info" type="submit" onclick="return btnAdd_onclick();">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Submit
						</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Reset
						</button>
					</div>
				</div>

			</form>
		</div><!-- /.col -->
	</div><!-- /.row -->

	<script type="text/javascript">
	function btnAdd_onclick(){
		if(test_empty($('#txtName').val()))
		{
			alert('Vui lòng nhập Tiêu đề');document.frmAddPost.txtName.focus();return false;
		}
		if(test_empty($('#linkimages').val())){
			alert('Vui lòng chọn hình');document.frmAddPost.txtImages.focus();return false;
		}
		return true;
	}
	</script>

	{% endblock %}
